* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-container {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.nav {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.nav a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 16px;
}

.nav a:hover {
    border-bottom: 1px solid #f9faf8;
}

.nav .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.hero-container {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.hero {
    width: 1200px;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    width: 500px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subtitle {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px;
}

button {
    font-size: 16px;
    width: 130px;
    font-weight: bold;
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 8px;
    border-radius: 8px;
}
button:hover {
    cursor: pointer;
    background-color: #3378e7;
}
button:active {
    background-color: #2d6ed6;
}

.random-info {
    text-align: center;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 60px 0;
    text-align: center;
}

.information-container .square {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 15px;
    margin-bottom: 8px;
}
.information-container .square:hover {
    border: 5px dashed #d434e9;
    cursor: pointer;
}

.information-container {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: 18px;
    font-weight: lighter;
    color: #1f2937;
}

.information {
    width: 200px;
    text-align: center;
}

.info-page {
    height: 550px;
}

.quote-container {
    height: 500px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-container .quote {
    width: 950px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.quote-container .sayer {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    margin-left: 650px;
}